h1 {
    color: white;
}
.google-icon {
    background-color: darkcyan;
    height: 70px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 7px solid grey;
    border-right: 7px solid grey;
}
.flex {
    display: flex;
    justify-content: center;
}